doctype html
html(lang="en")
  head
    title Contact
    style
      include style.css
  body
    include partials/nav.pug
    include partials/header.pug
    h2 Contact
    p Contact me to learn more about pugs!
    include partials/footer.pug