doctype html
html(lang="en")
  head
    title Gallery
    style
      include ../public/style.css
  body
    include partials/nav.pug
    include partials/header.pug
    h2 Gallery
    p Gallery of pugs coming soon...
    include partials/footer.pug