doctype html
html(lang="en")
  head
    title Home
    style
      include ../public/style.css
  body
    include partials/nav.pug
    include partials/header.pug
    h2 Homepage
    p Pugs are cute. They kinda look like aliens.
    include partials/footer.pug