doctype html
html(lang="en")
  head
    title Projects
    style
      include style.css
  body
    include partials/nav.pug
    include partials/header.pug
    h1 Projects
    p Maybe pugs do projects, but I don't know what kind. 
    include partials/footer.pug