@import url('https://fonts.googleapis.com/css?family=Prompt|Taviraj&display=swap');
/* Reset and consisstency for background color */
body {
  margin: 0;
  padding: 0;
  background-color: #D8CBC7;
}



/* Header style */
h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 48px;
  font-family: 'Prompt', sans-serif;
  color: #19231A;
}

h2 {
  text-align: center;
  font-family: 'Prompt', sans-serif;
  color: #19231A;
}



/* Navigation Bar Style*/
ul {
  display: flex;
  flex-direction: row;
  justify-content: center;

  margin: 0;

  background-color: #9A6D38;
}

li {
  list-style: none;

  padding: 3vh 5vw;

  font-size: calc(12px + (20 - 12) * ((100vw - 300px) / (1600 - 300)));
}

li:hover {
  background-color: #CC3F0C;
  color: #ECE5F0;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Prompt', sans-serif;
  color: #D8CBC7;
  letter-spacing: 0.5vw;
}

nav a:hover {
  color: #ECE5F0;
}



/* Styles for any paragraph */
p {
  padding: 10vw;

  text-align: center;
  font-family: 'Taviraj', serif;
  font-size: 24px;
  color: #19231A;
}



/* Footer Style */
footer {
  margin: 0;
  padding: 2vh;

  background-color: #33673B;

  color: #E98A15;
  font-family: 'Prompt', sans-serif;
  font-size: 16px;
}

footer p {
  padding: 0;
  margin: 0;

  text-align: left;
  color: #E98A15;
  font-family: 'Prompt', sans-serif;
  font-size: 16px;
}
